
  
    <div id="book_list" class="col-lg-12">
      <% @books.each do |book| %>
      <div class="container">
      <!-- Page Features -->
        <div class="row">
          <div class="col-md-2 col-sm-8 hero-feature">
              <%= image_tag book.picture.url(:medium) %>
            
          </div>
          <div class="col-md-10 col-sm-8 hero-feature">
              <div class="caption">
                <h4><%= truncate(book.title, length: 90) %></h4>
                <p><%= truncate(book.description, length: 100) %></p>
                <p>Autor: <%= truncate(book.author, length: 90) %></p>
              </div>
            
          </div>
        </div>
        <!-- /.row -->
      

        <hr>
      </div>
    <% end %>
</div>